version: '3.8'
services:
  postgres:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
    command: postgres -c 'port=5434'
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5434:5434'

volumes:
  postgres:
